<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('Category','none')" />

<body>
    <div class="container-fluid bg-dark">

        <div th:replace="navigation ::menu" />


    </div>
    <div class="container">
        <h1 class="m-3 text-center">Category Manager</h1>

        <div th:replace="fragments :: export('/categories')" class="m-4">


        </div>

        <div th:replace="fragments :: searchKeyword('/categories')" class="m-4">

        </div>

        <div>
            <div class="alert alert-success text-center" th:if="${message !=null}">
                [[${message}]]
            </div>
            <table th:if="${totalItems>0}" class="table table-striped table-bordered table-hover ">
                <thead class="thead-dark">
                    <tr>
                        <th th:replace="fragments :: column_link('id',' ID','/categories')" scope="col" >
                        </th>
                        <th scope="col">Image</th>
                        <th th:replace="fragments ::column_link('name','Name','/categories')" scope="col">
                        </th>
                        <th th:replace="fragments ::column_link('alias','Alias','/categories')" scope="col"></th>
                        <th th:replace="fragments ::column_link('enabled','Enabled','/categories')" scope="col"></th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each=" category: ${categories}">

                        <td>[[${category.id}]]</td>
                        <td>
                            <img style="width: 70px;" class="img-thumbnail" th:src="@{${category.imagePath}}" alt="">
                        </td>
                        <td>[[${category.name}]]</td>
                        <td>[[${category.alias}]]</td>
                        <td
                            th:replace="fragments :: status(${category.enabled},'category','/categories/'+${category.id})">

                        </td>
                        <td>
                            <!-- <div  th:fragment="edit(url,id)" th:remove="tag">
                                <a th:href="@{'/categories/edit/'+${category.id}}"
                                    class="fas fa-edit fa-2x text-success mr-2"></a>
                            </div> -->
                            <div th:replace="fragments :: edit('/categories',${category.id})">

                            </div>


                            <!-- <a th:if="${category.nochildren == true}" th:categoryId="${category.id}" id="deleteCategory"
                                th:href="@{'/categories/delete/'+${category.id}}"
                                class="fas fa-trash-alt fa-2x text-danger link-delete"></a> -->

                            <div
                                th:replace="fragments :: delete('/categories/delete/'+${category.id},${category.nochildren == true},${category.id})">

                            </div>

                        </td>
                    </tr>

                </tbody>
            </table>

        </div>



        <div th:replace="fragments ::page-link('Category','/categories')"></div>


    </div>



    <div th:replace="footer ::footer" class="container-fluid bg-dark" />

    <div th:replace="fragments :: deleteEntity" id="confirModal" class="modal" tabindex="-1" role="dialog">

    </div>

    <script>
        $(document).ready(function () {
            $('.link-delete').on("click", function (e) {
                e.preventDefault();

                link = $(this)
                categoryId = link.attr("deleId")
                console.log(categoryId)
                $("#yesbtn").attr("href", link.attr("href"))
                $("#confirm-text").text("Are you sure you want delete this category Id " + categoryId)
                $('#confirModal').modal()
            });

        });

        function clearFilter() {
            window.location = '[[@{/categories}]]'
        }
    </script>
</body>

</html>