<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="content" th:remove="tag" id="divProductDetails">

        <div id="divProductDetails">
            <th:block th:each=" detail,status: ${product.productDetails}">
                [[${detail.id}]]
                <div class="form-row " th:id="'divDetails'+${status.index}">
                    <input type="hidden" name="detailsId" th:value="${detail.id}">
                    <div class="form-group col-md-4">
                        <label>Name</label>
                        <input type="text" class="form-control" placeholder="name" name="detailNames" th:value="${detail.name}">
                    </div>
                    <div class="form-group col-md-4">
                        <label>Value</label>
                        <input type="text" class="form-control" placeholder="value" name="detailValues" th:value="${detail.value}">
                    </div>
                   <a name="linkRemoveDetail" class="btn fas fa-times-circle icon-dark float-right fa-2x" title="Remove this details"
                        > </a>
                </div>

            </th:block>
            <div class="form-row " th:id="'divDetails'+${#lists.size(product.productDetails)}">
                <input type="hidden" name="detailsId" th:value="0">
                <div class="form-group col-md-4">
                    <label>Name</label>
                    <input type="text" class="form-control" placeholder="name" name="detailNames">
                </div>
                <div class="form-group col-md-4">
                    <label>Value</label>
                    <input type="text" class="form-control" placeholder="value" name="detailValues">
                </div>
            </div>

        </div>




    </div>


</body>

</html>