<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="content" th:remove="tag">
        <div class="m-2">
            <label for="">Short Description</label>
            <textarea class="form-control" th:field="*{shortDescription}" cols="30" rows="5" required></textarea>
        </div>


        <div class="m-2">
            <label for="">Full Description</label>
            <textarea class="form-control" th:field="*{fullDescription}" cols="30" rows="10" required></textarea>
        </div>

    </div>
</body>

</html>